.home_page {
  animation-name: main-opac;
  animation-duration: 4s;
  width: 100%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  header.main {
    margin-top: 50px;
    width: 95%;
    max-width: $max-width;
    display: flex;
    align-items: center;
    flex-direction: column;
    .image {
      border-radius: 10px;
      position: relative;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 2px solid $color;
      box-shadow: -18px -2px 136px 81px rgba(0, 0, 0, 0.25) inset;
      -webkit-box-shadow: -18px -2px 136px 81px rgba(0, 0, 0, 0.25) inset;
      -moz-box-shadow: -18px -2px 136px 81px rgba(0, 0, 0, 0.25) inset;
      background-image: url("../assets/IMG_3971.png");
      background: url("../assets/IMG_3971.png");
      @include fit-background;
      background-position: 0px 0px;
    }
    .text {
      text-align: center;
      h1:first-child {
        font-size: 2.3rem;
        color: rgb(115, 147, 234);
      }
      .description {
        font-family: "Roboto", sans-serif;
        font-size: 1.4rem;
        width: 95%;
        max-width: 600px;
        color: #d8d8d9;
      }
    }
  }
  .About {
    width: 100%;
    max-width: $max-width;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .skills {
      width: 95%;
      max-width: 1000px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .skill {
        letter-spacing: 1px;
        font-family: "Roboto", sans-serif;
        margin: 0 15px;
        color: white;
        text-align: center;
      }
    }
  }
}

.save-cv {
  background-color: transparent;
  font-size: 1.3rem;
  border: none;
  outline: none;
  text-decoration: underline;
  cursor: pointer;
  letter-spacing: 2px;
}
@media screen and (max-width: 950px) {
  .home_page {
    flex-direction: column;
  }
}
@media screen and (max-width: 750px) {
  .home_page {
    margin-top: 20px;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
