nav.navbar {
  width: 100%;
  background-color: $bg-sec-color;
  box-shadow: 1px 3px 27px 6px rgba(130, 130, 130, 0.4);
  -webkit-box-shadow: 1px 3px 27px 6px rgba(130, 130, 130, 0.4);
  -moz-box-shadow: 1px 3px 27px 6px rgba(130, 130, 130, 0.4);
  div.nav {
    margin: 0 auto;
    width: 95%;
    max-width: $max-width;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      display: flex;
      li {
        margin: 0 10px;
        font-size: 20px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          width: 0px;
          left: 0;
          height: 3px;
          background-color: $secondary-color;
          transition: width 0.4s;
        }
        a {
          transition: color 0.4s;
        }
        a:hover {
          color: $secondary-color;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
    .hamburger {
      background-color: transparent;
      cursor: pointer;
      width: 40px;
      height: 30px;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      display: none;
      .line {
        width: 90%;
        height: 3px;
        background-color: white;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  nav.navbar div.nav ul {
    display: flex !important;
  }
}
@media screen and (max-width: 600px) {
  .hamburger {
    display: flex !important;
  }
  nav.navbar {
    div.nav {
      position: relative;
      ul {
        z-index: 1;
        position: absolute;
        top: 40px;
        right: -10px;
        width: 100px;
        flex-direction: column;
        align-items: center;
        background-color: rgba(18, 18, 18, 0.9);
        overflow-y: hidden;
        padding: 0 20px;
        height: 0;

        &.animate {
          height: auto;
          animation-name: height;
          animation-duration: 2s;
        }
        &.close {
          height: 0px;
          animation-name: close;
          animation-duration: 2s;
        }
        li {
          margin: 10px 0;
          text-align: center;
        }
      }
    }
  }
}
@keyframes height {
  from {
    height: 0px;
  }
  to {
    height: 129px;
  }
}
@keyframes close {
  from {
    height: 129px;
  }
  to {
    height: 0px;
  }
}
